@media (max-width: 1200px)
  .thumbnails > .thumbnails__item
    width: 32.25%

@media (max-width: 992px)
  .menu-main__item-divider-vertical
    display: none !important

  .thumbnails > .thumbnails__item
    width: 48.5%
    &:last-child
      margin-right: 0
    &:nth-child(n+2)
      margin-right: 0

  .header__title
    display: none

  .social
    display: none

  .ads-result__date
    &.pull-right
      float: left !important
    top: .5rem !important
    clear: none !important

@media (max-width: 768px)
  .menu-sub
    &__item
      display: inline-block !important
      border-right: .1rem solid #37c6d6
      &:last-child
        border-right: none

  .menu-sub__item-divider-vertical
    display: none !important

  .section__footer
    display: none

  .copyright
    text-align: center !important
    margin: -2rem 0

  .form
    &__group
      text-align: center
      & label.label
        width: 100%
        text-align: left
        padding-left: 0
        &-checkbox
          text-align: center
      & input.input
        width: 100%
        &-checkbox
          float: unset !important
          top: .2rem !important
    & button.btn
      width: 100%

@media (max-width: 500px)
  .thumbnails > .thumbnails__item
    width: 100%
    margin-right: 0 !important
  .thumbnail__link
    width: 100%
    text-align: center
    display: block

  .actions
    text-align: right
    &__item
      margin-bottom: 1rem
      &:last-child
        margin-bottom: 0