.ads
  &-detail
    &__header
      margin-bottom: 2rem
      & i
        margin-right: .5rem
    &__user
      margin-right: 1rem
    &__body
      & .content
        & i
          margin-right: .5rem
        & .price,
        & .contact,
        & .location,
        & .phone
          margin-bottom: .5rem
    &__footer
      & a
        display: inline-block
        margin: 0 .5rem
        margin-bottom: 1rem
  &__search
    & label.label
      display: block
      width: 100%
      text-align: left
      padding-left: 0
      margin: 1rem 0
    & select.select
      display: block
      width: 100%
    & > div:last-of-type
      margin: 2rem 0
  &-result
    & hr:last-of-type
      border: none
      margin: 0
    &__row
      margin-bottom: 2rem
    &__title
      font-size: 1.8rem
    &__item
      padding: 3rem 4rem
      border-bottom: .1rem solid rgba(128, 128, 128, 0.5)
      &:nth-child(-n + 5)
        background: transparent
    &__link
      display: inline-block
      margin: 1.5rem 0 1rem
      color: #555
    &__image
      margin-bottom: 2rem
      display: inline-block
    &__price
      font-size: 1.6rem
      color: #04b8ca
      position: relative
      left: .5rem
      & > i
        margin-left: .5rem
    &__date
      position: relative
      top: 4rem
      clear: both


.ads-container
  padding: 0
.ads-result__ev
  background: aliceblue !important