.ads
  &__search
    & label.label
      display: block
      width: 100%
      text-align: left
      padding-left: 0
      margin: 1rem 0
    & select.select
      display: block
      width: 100%
    & > div:last-of-type
      margin: 2rem 0
  &-result
    &__row
      margin-bottom: 2rem
    &__title
      font-size: 1.8rem
    &__item
      &:nth-child(-n + 5)
        background: transparent
    &__link
      display: inline-block
      margin: 1.5rem 0 1rem
      color: #555
    &__image
      margin-bottom: 2rem
      display: inline-block
    &__price
      font-size: 1.6rem
      color: #04b8ca
      position: relative
      left: .5rem
      & > i
        margin-left: .5rem
    &__date
      position: relative
      top: 4rem
      clear: both