.footer
  margin-top: 1rem
  background-color: #233a46
  padding: 3rem 0
  &__title
    color: #fff
    font-size: 1.8rem
    padding-bottom: 1rem
    margin-bottom: 1rem
    border-bottom: .1rem solid #777
  &__list
    margin-top: 1rem
  &__item
    float: left
    width: 50%
  &__link
    font-size: 1.4rem
    color: #aaa
    &:hover
      color: #fff
      text-decoration: underline

.copyright
  font-size: 1.4rem
  color: #fff