.form
  &__group
    margin-left: -.3rem
    margin-bottom: 1.5rem
  &__login
    & input.input
      &-checkbox
        float: left
        margin-right: .5rem
        position: relative
        top: -.3rem
    &__label
      width: 14rem
      padding-top: .5rem
      text-align: right
      &-checkbox
        margin-left: .3rem
    &__link
      margin-left: .3rem
      &-divider
        display: inline-block
        margin: 0 .5rem
  &__user
    &__radio
      display: inline-block
      & .input-checkbox
        position: relative
        top: .15rem
  &__user
    &__label
      width: 15rem
      padding-left: 0
      text-align: left
      &:empty
        display: inline-block
      &-textarea
        position: relative
        top: -6rem
    & textarea.textarea
      height: 8rem
      padding: .4rem 1.3rem