.form
  &__group
    margin-left: -.3rem
    margin-bottom: 1.5rem
  &__login
    & input.input
      &-checkbox
        float: left
        margin-right: .5rem
        position: relative
        top: -.3rem
    &__label
      width: 14rem
      padding-top: .5rem
      text-align: right
      &-checkbox
        margin-left: .3rem
    &__link
      margin-left: .3rem
      &-divider
        display: inline-block
        margin: 0 .5rem