.thumbnails
  margin-bottom: 0
  & .span4
    //float: left
    //margin-bottom: 2rem
    //margin-right: 2rem
    //width: 31.333333%
    &:nth-child(3n)
      margin-right: 0
  & .thumbnail
    background: #fff
    padding: 1rem
    display: block
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.1)
    & h2.h2
      font-size: 1.4rem
      line-height: 2rem
      margin: 1rem 0
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    & .photo-count > i
      margin-right: .5rem