.header
  background-color: #f1f8f9
  &__title
    padding-bottom: 1.5rem
    font-size: 1.1rem
    color: #aaa
    text-shadow: 0 1px 0 #fff
  &__social
    position: relative
    top: -1rem
    & a
      font-size: 1.4rem
      color: #acb8bc
      & > i
        font-size: 2.8rem
      &:hover
        color: #3e91ad
    & .social > li:first-child > a
      position: relative
      top: -.5rem
      margin-right: 2rem
      & > i
        margin-right: .5rem
        font-size: 1.5rem