.logo
  display: inline-block
  width: 8rem
  height: 6rem
  background: url(../img/logo.png) no-repeat 50%
  background-size: 200%
  &__name
    font-size: 1.8rem
    color: #099ece
    text-shadow: 0 .1rem 0 #fff
    display: inline-block
    position: absolute
    top: 0
    left: 11rem
  &__url
    position: absolute
    top: 3.8rem
    left: 11rem
    padding: .2rem 1.2rem
    font-size: 1.2rem
    background-color: #23b7e7
    color: #fff
    border-radius: 1rem