*,
html,
body
  font-family: 'Open Sans', 'Roboto Slab', Helvetica, Arial, sans-serif, serif

html
  font-size: 62.5%

body
  font-size: 1.4rem

h1.h1,
h2.h2,
h3.h3,
h4.h4,
h5.h5
  margin: 0

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: #04b8ca
  text-decoration: none
  &:hover,
  &:focus
    color: #03747f

img
  max-width: 100%

.wrapper
  background: #f7f7f9

.section
  &__article
    & .article
      & h2.main-widget__title
        font-size: 2.24rem
        line-height: 3rem
      & i.fa
        margin-right: .5rem
      & .article__name
        display: inline-block
        margin: 1rem 0
        color: #555
        text-decoration: underline
      & .tag-links
        & a
          display: inline-block
          margin-right: 1rem
          color: #555
          text-decoration: underline
      & .more-links
        & a
          display: inline-block
          margin-right: 1rem
    & ul.pagination
      margin: 2rem
      margin-left: 0
  &__header
    padding: 2rem 0
  &__title
    font-size: 3.5rem
    font-weight: 300
    padding: .5rem 0 3rem
  &__registration
    padding: 5rem 0
  &__job
    &__link
      &:hover
        text-decoration: none !important
    & .main-widget__more
      margin-top: 0
  &__masters
    & .ads-result__row
      margin-bottom: 0
  &__group
    & .ads-result__title
      padding-bottom: 2rem
    &__link
      position: relative
      top: 1rem
      & > i
        margin-right: .5rem
  &__rules
    & a
      display: inline-block
      margin: 0 .5rem
    & ol
      & > li
        padding-left: .5rem
        margin-bottom: .5rem
        & > ul
          margin-left: 2rem
          & > li
            list-style-type: circle
  &__add-resume
    & input.input,
    & select.select
    & textarea.textarea
      min-width: 20rem

.aside
  & .search
    margin-bottom: 3rem
  &__job
    & .sidebar__link
      &::before
        font-family: FontAwesome
        content: '\f114'
        margin-right: 1rem
        color: #555
  &__labs
    &__logo
      width: 100%
      text-align: center
      margin-bottom: 2rem
      & > img
        width: 100%
    & p
      & > i
        margin-right: .5rem
      &.address
        position: relative
        padding-left: 1.5rem
        & > i
          position: absolute
          top: .3rem
          left: 0


.text
  &-center
    text-align: center
  &-right
    text-align: right
  &-italic
    font-style: italic
  &-nowrap
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left

.breadcrumb
  background: #f1f8f9
  border-bottom: 1px solid #e4edee
  &__item
    display: inline-block
    &.active::before
      content: "/\00a0"
      padding: 0 .5rem
      color: #ccc
  &__divider,
  &__text
    color: #aaa
  &__home
    font-size: 2rem
    position: relative
    top: .1rem


.label
  cursor: pointer
  display: inline-block
  font-size: 1.4rem
  color: #555
  font-weight: 400
  &-checkbox
    padding: 0
    margin: 0

.input
  display: inline-block
  margin-bottom: 0
  background-color: #fff
  border: .1rem solid #ccc
  box-shadow: inset 0 .1rem .1rem rgba(0,0,0,0.075)
  transition: border linear .2s,
              box-shadow linear .2s
  height: 3rem
  padding: .4rem .6rem
  font-size: 1.4rem
  line-height: 2rem
  border-radius: .4rem
  &:focus
    border-color: rgba(82,168,236,0.8)
    outline: 0
    box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075),
                0 0 .1rem rgba(82,168,236,.6)
  &-search
    width: 100%
    border: .2rem solid #e4edee
    border-radius: .5rem
    padding: 2rem 1.5rem
    outline: none

.button
  &-search
    position: absolute
    right: 2.5rem
    top: 1rem
    background: none
    border: none
    font-size: 2rem
    color: #00acdb
    &:hover
      color: #00dba5

ul.pagination
  margin: 0
  margin-top: 2rem
  & a
    background: #e4edee
    border: none
    border-radius: 50% !important
    margin: 0 .5rem
    color: #455f68
    &:hover
      background: #f1f8f9
      text-decoration: none
    &.active
      background: #00acdb
      color: #fff
    &.first,
    &.last
      width: 3rem
      & > i
        margin: 0

#menu-main [data-toggle=dropdown]
  & + .dropdown-menu
    opacity: 0
    transition: all .5s
  &:hover + .dropdown-menu
    display: block
    opacity: 1

#menu-main .dropdown-menu:hover
  display: block
  opacity: 1

.table
  &-lab
    & tr > td
      vertical-align: top
      &:first-child
        width: 80%
      &:last-child
        text-align: right
        width: 20%
        font-weight: 600
        & > i
          margin-left: .5rem

.lab-service-item
  margin-bottom: 3rem

.banner
  display: flex
  flex-direction: column
  &__content
    flex-wrap: nowrap
    height: 20rem
    text-align: center
    font-size: 3rem
    background: aliceblue
    margin-bottom: 3rem