.main-widget
  background-color: #fff
  padding: 4rem
  margin-bottom: 2rem
  box-shadow: .1rem .1rem .1rem .2rem rgba(0,0,0,0.05)
  &__title
    font-size: 2.7rem
    text-transform: uppercase
    font-weight: 600
  & a:hover
    text-decoration: underline
  &__more
    margin-top: 3rem
    & i
      margin-left: 1rem
  &__labs
    & div.ads-result__row
      margin-bottom: 0
    & p.labs-title
      font-size: 1.8rem
      margin-bottom: 2rem
    & ul.ads-result
      & a.ads-result__image img
        padding: .5rem
        box-shadow: 0 .1rem .2rem rgba(0,0,0,0.15)
      & a.ads-result__link > i
        margin-left: -.3rem
      & p.ads-result__location > i,
      & p.ads-result__date > i
        margin-right: .5rem