*,
html,
body
  font-family: 'Open Sans', 'Roboto Slab', Helvetica, Arial, sans-serif, serif

html
  font-size: 62.5%

body
  background-color: #eee
  font-size: 1.4rem

h1.h1,
h2.h2,
h3.h3,
h4.h4,
h5.h5
  margin: 0

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: #04b8ca
  text-decoration: none
  &:hover,
  &:focus
    color: #03747f

img
  max-width: 100%

.section
  &__header
    padding: 1.5rem 0 2rem
  &__title
    font-size: 3.5rem
    font-weight: 300
    padding: .5rem 0 3rem
  &__registration
    padding: 5rem 0
  &__job
    &__link
      &:hover
        text-decoration: none !important
    & .main-widget__more
      margin-top: 0

.text
  &-center
    text-align: center
  &-right
    text-align: right
  &-italic
    font-style: italic
  &-nowrap
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left

.breadcrumb
  &__divider,
  &__text
    color: #aaa

.label
  cursor: pointer
  display: inline-block
  font-size: 1.4rem
  color: #555
  font-weight: 400
  &-checkbox
    padding: 0
    margin: 0

.input
  display: inline-block
  margin-bottom: 0
  background-color: #fff
  border: .1rem solid #ccc
  box-shadow: inset 0 .1rem .1rem rgba(0,0,0,0.075)
  transition: border linear .2s,
              box-shadow linear .2s
  height: 3rem
  padding: .4rem .6rem
  font-size: 1.4rem
  line-height: 2rem
  border-radius: .4rem
  &:focus
    border-color: rgba(82,168,236,0.8)
    outline: 0
    box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075),
                0 0 .1rem rgba(82,168,236,.6)