.main-widget
  background-color: #fff
  padding: 4rem
  margin-bottom: 2rem
  box-shadow: .1rem .1rem .1rem .2rem rgba(0,0,0,0.05)
  &__title
    font-size: 2.7rem
    text-transform: uppercase
    font-weight: 600
  & a:hover
    text-decoration: underline
  &__more
    margin-top: 3rem
    & i
      margin-left: 1rem