*,
html,
body
  font-family: 'Open Sans', 'Roboto Slab', Helvetica, Arial, sans-serif, serif

html
  font-size: 62.5%

body
  background-color: #eee

h1.h1,
h2.h2,
h3.h3,
h4.h4,
h5.h5
  margin: 0

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: #04b8ca
  text-decoration: none
  &:hover,
  &:focus
    color: #03747f

img
  max-width: 100%

.section
  &__header
    padding: 1.5rem 0 2rem

.text
  &-center
    text-align: center
  &-right
    text-align: right
  &-italic
    font-style: italic
  &-nowrap
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left