.menu-sub
  background-color: #04b8ca
  box-shadow: none
  margin-top: -2rem
  border: none
  border-radius: 0
  &__item
    &-divider-vertical
      height: 5rem
      border-left: 1px solid #37c6d6
  &__link
    text-shadow: 0 .1rem 0 #496174
    font-weight: 600
    text-transform: capitalize
    color: #d8fbfd
    &:hover
      color: #fff