.menu-main
  background-color: #3f5464
  box-shadow: 0 .1rem .4rem rgba(0,0,0,0.065)
  border: none
  border-radius: 0
  &__item
    &-divider-vertical
      height: 5rem
      border-left: .1rem solid #496174
    &.active > a
        color: #fff !important
        background-color: #04b8ca !important
  &__link
    text-transform: capitalize
    font-size: 1.4rem
    color: #aaa
    text-decoration: none
    text-shadow: 0 .1rem 0 #496174
    &:hover
      color: #fff