.menu-sub
  background-color: #e4edee
  box-shadow: none
  margin-bottom: 0
  border: none
  border-radius: 0
  &__item
    &-divider-vertical
      height: 5rem
      border-left: 1px solid #37c6d6
  &__link
    text-shadow: 0 .1rem 0 #496174
    font-weight: 600
    background: #e4edee
    border: none
    border-bottom: .2rem solid transparent
    color: #4c7284
    &.active
      background: #fff
      color: #233a46
      border: none
      border-bottom: .2rem solid #00acdb
    &:hover
      border: none
      background: #f1f8f9
      border-bottom: .2rem solid transparent