.menu-main
  background-color: #fff
  box-shadow: 0 .1rem .4rem rgba(0,0,0,0.065)
  border: none
  border-radius: 0
  margin-bottom: 0
  &__item
    &-divider-vertical
      height: 5rem
      border-left: .1rem solid #f1f8f9
    & > a
      text-transform: uppercase
      border-top: .4rem solid transparent
      border-bottom: .4rem solid transparent
      &:hover
        background: #00acdb
    &.active > a
      color: #555 !important
      background-color: #fff !important
      border-bottom-color: #00acdb
  &__link
    text-transform: capitalize
    font-size: 1.4rem
    color: #aaa
    text-decoration: none
    text-shadow: 0 .1rem 0 #496174
    &:hover
      color: #fff
    &-sub
      padding: .5rem 2rem !important
      font-size: 1.5rem
      color: #455f68
      font-weight: 500
      border-bottom: .3rem solid transparent
      &:hover
        background: transparent
        color: #00acdb
        text-decoration: underline
      &::before
        display: inline-block
        content: ''
        position: relative
        left: -1rem
        width: .6rem
        height: .6rem
        border-radius: 50%
        background: #00acdb