#modal-login
  & .form__login__label-checkbox,
  & .form__login__link:first-of-type
    margin-left: -.5rem

#modal-reg
  & label.label
    display: block
    text-align: left
    padding-left: 0
  & input.input
    display: block
    width: 100%
  & p
    margin: 0
    padding: .5rem 0 0 .5rem
    color: #afbcc5
    font-size: 1.2rem
  & .registration__with
    float: left
    width: 30%
    margin-left: 5%
    padding: 0
    color: #fff
    text-align: center
    font-size: 2.8rem
    line-height: 4.3rem
    min-width: 0
    box-sizing: border-box
    &:hover
      opacity: .9
  & .registration__fb
    background-color: #3b5998
    border-color: #3b5998
    margin-left: 0
  & .registration__gl
    background-color: #dd4b39
    border-color: #dd4b39
  & .registration__in
    background-color: #1b86bc
    border-color: #1b86bc