#modal-login
  & .form__login__label-checkbox,
  & .form__login__link:first-of-type
    margin-left: -.5rem

#modal-reg
  & label.label
    display: block
    text-align: left
    padding-left: 0
  & input.input
    display: block
    width: 100%
  & p
    margin: 0
    padding: .5rem 0 0 .5rem
    color: #afbcc5
    font-size: 1.2rem