#registration
  height: 100%
  background-color: #16212a
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#3f5464),to(#16212a));
  background-image: -webkit-radial-gradient(circle,#3f5464,#16212a);
  background-image: -moz-radial-gradient(circle,#3f5464,#16212a);
  background-image: -o-radial-gradient(circle,#3f5464,#16212a);
  background-repeat: no-repeat
  background-repeat: repeat-y
  & .registration
    min-height: 100%
    color: #fff
    background: url(../img/user-register-bg.png) center top
    & hr
      border-color: #43535e
    &__title
      font-size: 3.5rem
      line-height: 4rem
      font-weight: 300
    & label.label
      font-size: 1.8rem
      display: block
      text-align: left
      color: #fff
      padding-left: 0
    & input.input
      height: 4rem
      margin-bottom: 1rem
      color: #555
      display: block
      width: 100%
    &__help
      margin: 0
      margin-bottom: 1.5rem
      padding: 0
      color: #afbcc5
      font-size: 1.2rem
    & button.btn
      line-height: 2.5rem
      padding-left: 3rem
      padding-right: 3rem