.sidebar
  &-widget
    background-color: #fff
    padding: 2rem
    margin-bottom: 2rem
    box-shadow: .1rem .1rem .1rem .2rem rgba(0,0,0,0.05)
    & a:hover
      text-decoration: underline
    & hr
      border-color: #00acdb
      border-width: .2rem
  &__title
    font-size: 1.8rem
    font-weight: bold
    line-height: 2rem
    &-second
      font-size: 1.4rem
      line-height: 2rem
      margin: 1rem 0 !important
    & i
      margin-right: 1rem
      color: #00acdb
  &__item
    margin-bottom: 2rem
    padding-bottom: 1rem
    border-bottom: .1rem solid #eee
  &__img
    padding: .5rem
    background-color: #f6f6f6
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.15)
  &__more > a
    font-size: 1.4rem
    & i
      margin-left: 1rem
  &__salary
    font-weight: 600
    font-size: 1.4rem
    & i
      margin: 0 .5rem
  &__text
    color: #aaa