.sidebar
  &-widget
    background-color: #fff
    padding: 2rem
    margin-bottom: 2rem
    box-shadow: .1rem .1rem .1rem .2rem rgba(0,0,0,0.05)
    & a:hover
      text-decoration: underline
    & hr
      border-color: #00acdb
      border-width: .2rem
    & .form-search-master
      &__row
        margin-bottom: 1rem
      & label.label
        display: block
        text-align: left
        padding-left: 0
      & input.input
        display: block
        width: 100%
      & select.select
        display: block
        width: 100%
      & span#sex
        & label.label
          display: inline-block
        & input.input-checkbox
          position: relative
          top: .2rem
  &__title
    font-size: 1.8rem
    font-weight: bold
    line-height: 2rem
    &-second
      font-size: 1.4rem
      line-height: 2rem
      margin: 1rem 0 !important
    & i
      margin-right: 1rem
      color: #00acdb
  &__item
    margin-bottom: 2rem
    padding-bottom: 1rem
    border-bottom: .1rem solid #eee
  &__img
    padding: .5rem
    background-color: #f6f6f6
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.15)
  &__more > a
    font-size: 1.4rem
    & i
      margin-left: 1rem
  &__salary
    font-weight: 600
    font-size: 1.4rem
    & i
      margin: 0 .5rem
  &__text
    color: #aaa
  &__list
    &-group
      text-align: center
      & .sidebar__item
        display: inline-block
        & a
          color: #4c7284
          border: .1rem solid #e4edee;
          font-size: 1.3rem
          padding: .5rem 1.5rem !important
          border-radius: 2rem
          margin: .5rem .4rem
          &::before
            content: ''
            margin-right: 0