.btn-file
  position: relative
  margin-left: .3rem
  & > input
    position: absolute
    opacity: 0
    width: 100%
    height: 100%
    left: 0
    top: 0
  & + span
    margin-left: 1rem

.user
  &__detail
    margin: 2rem 0
  &__logo
    margin-right: 2rem
  &__login
    padding-bottom: 1rem
  &__title
    &:first-of-type
      padding-top: 2rem

.detail-view
  border-spacing: 1rem
  border-collapse: separate
  & th,
  & td
    text-align: left
    width: 18rem
    padding: 0