header.header
  section.section.section__header
    .container
      .row
        .col-md-6.col-sm-6.col-xs-6.clearfix
          .header__logo.pull-left
            a(href='index.html')
              img.logo(src='assets/img/logo.png' alt='')
          h1.h1.header__title.pull-left= title
        .col-md-6.col-sm-6.col-xs-6
          .header__social.pull-right
            include social
          .header__switcher.pull-right(hidden)
            a#language-switcher.header__switcher__link.dropdown-toggle(href='#0' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') RU
            ul.dropdown-menu(aria-labelledby='language-switcher')
              a.header__switcher__link(href='#0') EN
              a.header__switcher__link(href='#0') FR
              a.header__switcher__link(href='#0') ES
        .col-md-6.col-sm-6.col-xs-6
          .header__actions
            ul.actions
              li.actions__item
                a.actions__link.btn.btn-success.btn-small.js-login-modal(href='#0' data-toggle='modal' data-target='#modal-login')
                  i.fa.fa-sign-in
                  | Вход
              li.actions__item
                a.actions__link.btn.btn-primary.btn-small.js-reg-modal(href='#0' data-toggle='modal' data-target='#modal-reg')
                  i.fa.fa-user
                  | Регистрация
  section.section.section__menu-main
    include menu__main