aside.aside.aside__labs
  .search
    input.input.input-search(type='text' name='name' placeholder='Search..')
    button.button.button-search(type='button')
      i.fa.fa-search
  .sidebar-widget
    h2.h2.sidebar__title
      span.sidebar__text(href='#0')
        i.fa.fa-folder-open
        | Контакты
    hr
    .aside__labs__logo
      img(src='assets/img/group-logo.png' alt='')
    p
      i.fa.fa-location-arrow
      | Москва, Мажоров переулок, д. 7 стр. 1
    p
      i.fa.fa-code-fork
      | м. Семёновская
    p
      i.fa.fa-phone-square
      | 8 999 999 99 99
    p
      i.fa.fa-envelope-square
      a(href='mailto:2590044@gmail.com') 2590044@gmail.com
    p.address
      i.fa.fa-clock-o
      srtong Пн – Пт:
      | 09:00 — 20:00
      br
      srtong Cб:
      | выходной
      br
      srtong Вс:
      | выходной
      br