aside.aside.aside__main
  .search
    input.input.input-search(type='text' name='name' placeholder='Search..')
    button.button.button-search(type='button')
      i.fa.fa-search
  .sidebar-widget
    h2.h2.sidebar__title
      a.sidebar__link(href='#0')
        i.fa.fa-folder-open
        | Объявления
    hr
    ul.sidebar__list.sidebar__list-ads
      - var n = 0
      while n < 4
        li.sidebar__item.text-center
          a.sidebar__link(href='#0')
            img.sidebar__img(src='assets/img/sidebar-image1.png' alt='')
          h3.h3.sidebar__title-second
            a.sidebar__link(href='#0') Аренда стоматологического кабинета м. Филевский парк
        - n++
    .sidebar__more.text-center
      a.sidebar__link(href='#0')
        | Смотреть все объявления
        i.fa.fa-level-up
  .sidebar-widget
    h2.h2.sidebar__title
      a.sidebar__link(href='#0')
        i.fa.fa-folder-open
        | Вакансии
    hr
    ul.sidebar__list.sidebar__list-vacancy
      - var n = 0
      while n < 4
        li.sidebar__item
          h3.h3.sidebar__title-second
            a.sidebar__link(href='#0') Врач-терапевт
          span.sidebar__salary
            | от 25 000
            i.fa.fa-rub
            | до 45 000
            i.fa.fa-rub
        - n++
    .sidebar__more.text-center
      a.sidebar__link(href='#0')
        | Смотреть все вакансии
        i.fa.fa-level-up
  .sidebar-widget
    h2.h2.sidebar__title
      a.sidebar__link(href='#0')
        i.fa.fa-folder-open
        | Резюме
    hr
    ul.sidebar__list.sidebar__list-vacancy
      - var n = 0
      while n < 4
        li.sidebar__item
          h3.h3.sidebar__title-second
            a.sidebar__link(href='#0') Врач-терапевт
          span.sidebar__salary з/п договорная
        - n++
    .sidebar__more.text-center
      a.sidebar__link(href='#0')
        | Смотреть все Резюме
        i.fa.fa-level-up
  .sidebar-widget
    h2.h2.sidebar__title
      a.sidebar__link(href='#0')
        i.fa.fa-folder-open
        | Группы
    hr
    ul.sidebar__list.sidebar__list-vacancy
      - var n = 0
      while n < 4
        - var n = 0
        while n < 4
          li.sidebar__item.text-center
            a.sidebar__link(href='#0')
              img.sidebar__img(src='assets/img/group-logo.png' alt='')
            h3.h3.sidebar__title-second.text-nowrap
              a.sidebar__link(href='#0') Управляющие стоматологическим бизнесом
          - n++
    .sidebar__more.text-center
      a.sidebar__link(href='#0')
        | Смотреть все группы
        i.fa.fa-level-up