- var menu = [{name : 'главная', url : 'index.html'}, {name : 'работа', url : 'job.html'}, {name : 'объявления', url : 'ads.html'}, {name : 'специалисты', url : 'masters.html'}, {name : 'лаборатории', url : '#0'}, {name : 'галерея', url : '#0'}, {name : 'группы', url : 'group.html'}]

nav.navbar.navbar-default.menu-main.js-main-menu
  .container
    .row
      .navbar-header.menu-main__navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#menu-main' aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #menu-main.collapse.navbar-collapse
        ul.nav.navbar-nav.menu-main__list
          - var length = menu.length
          - var last = 1
          each item in menu
            if length == last
              li.menu-main__item
                a.menu-main__link(href=item.url)= item.name
            else
              li.menu-main__item
                a.menu-main__link(href=item.url)= item.name
              li.menu-main__item-divider-vertical
            - last++