#modal-login.modal.fade(tabindex='-1' role='dialog' aria-labelledby='form-login')
  .modal-dialog(role='document')
    .modal-content
      form.form.form__login
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Вход
        .modal-body
          .row
            .form__group.clearfix
              .col-md-12
                label.label.label.form__login__label(for='login') Логин или E-mail:
                input#login.input(type='text' name='login')
            .form__group.clearfix
              .col-md-12
                label.label.form__login__label(for='password') Пароль:
                input#password.input(type='password' name='password')
            .form__group.clearfix
              col-md-9.col-md-offset-3.col-sm-9.col-sm-offset-3.col-xs-12
                a.form__login__link(href='recovery-password.html') Забыли пароль?
                span.form__login__link-divider |
                a.form__login__link(href='registration.html') Регистрация
            .form__group.clearfix
              .col-md-9.col-md-offset-3.col-sm-9.col-sm-offset-3.col-xs-12
                label.label.label-checkbox.form__login__label-checkbox
                  input.input-checkbox(type='checkbox' name='remember')
                  | Запомнить меня
        .modal-footer
          a.btn.btn-default(href='#0' data-dismiss='modal') Отмена
          a.btn.btn-primary(href='#0') Вход