aside.aside.aside__job
  .search
    input.input.input-search(type='text' name='name' placeholder='Search..')
    button.button.button-search(type='button')
      i.fa.fa-search
  .sidebar-widget
    h2.h2.sidebar__title
      span.sidebar__text(href='#0')
        i.fa.fa-folder-open
        | Рубрики
    hr
    ul.sidebar__list.sidebar__list-ads
      - var i = 0
      while i < 15
        - var rubric = 'Рубрика-1' + i++
        li.sidebar__item
          a.sidebar__link(href='#0')= rubric
  .sidebar-widget
    h2.h2.sidebar__title
      span.sidebar__text(href='#0')
        i.fa.fa-tags
        | Теги
    hr
    ul.sidebar__list.sidebar__list-group
      - var n = 1
      while n < 18
        li.sidebar__item
          - var tagname = 'Тег-' + n++
          a.sidebar__link(href='#0')= tagname