- var social = [{url : '#0', cl : 'fa-facebook-official'}, {url : '#0', cl : 'fa-vk'}, {url : '#0', cl : 'fa-odnoklassniki-square'}, {url : '#0', cl : 'fa-instagram'}]

ul.social
  li.social__item
    a.social__link(href='#0')
      span office@dental.com
  li.social__item
    a.social__link(href='#0')
      i.fa.fa-fw.fa-facebook-official