doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content="")
    meta(name="keywords" content="")
    title Профессиональный стоматологический портал (сайт) «Клуб стоматологов»
    include __assets/styles
    include __assets/scripts
  body
    include mixins
    .wrapper
      block vars
      include __blocks/header
      main.main
        block main
    include __blocks/footer
    include __blocks/modals
    include __blocks/social__fixed