mixin breadcrumbs(breadcrumbs)
  - var length = breadcrumbs.length
  - var last = 1
  ul.breadcrumb.text-italic
    .container
      each item in breadcrumbs
        if length == last
          li.breadcrumb__item.active
            span.breadcrumb__text= item.name
        else
          if last == 1
            li.breadcrumb__item.breadcrumb__home
              a.breadcrumb__link(href=item.url)
                i.fa.fa-home
              span.breadcrumb__divider
          else
            li.breadcrumb__item
              a.breadcrumb__link(href=item.url)= item.name
              span.breadcrumb__divider
        - last++