extends ../base
block vars
  - var title = 'Профессиональный стоматологический портал (сайт) «Клуб стоматологов»'
block main
  .container
    .row.main-widget-mt
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__job
          .main-widget.vacancy.ads-container
            h2.h2.main-widget__title
              a(href='ads.html') Объявления
            hr
            .clearfix
              - var n = 0
              ul.ads-result.clearfix
                while n < 3
                  li.ads-result__item.clearfix
                    .ads-result__row.clearfix
                      .col-md-2.col-sm-4.col-xs-12
                        a.ads-result__image(href='#0')
                          img(src='assets/img/g-1.jpg' alt='')
                      .col-md-7.col-sm-8.col-xs-12
                        h2.h2.ads-result__title
                          a(href='#0') Ортопантомограф Sirona Orthophos xg3
                        a.ads-result__link.text-italic(href='#0')
                          i.fa.fa-folder-open
                          | Аренда кресла, кабинета
                        p.ads-result__location
                          i.fa.fa-globe
                          | Москва
                      .col-md-3.col-sm-12.col-xs-12
                        p.ads-result__price.pull-right
                          | 30 000
                          i.fa.fa-rub
                        p.ads-result__date.pull-right
                          i.fa.fa-clock-o
                          | 9 января 2017
                  hr
                  - n++
              hr
            .main-widget__more.text-right
              a.sidebar__link(href='ads.html')
                | Смотреть все объявления
                i.fa.fa-level-up
        section.section.section__group
          .main-widget.vacancy.masters
            h2.h2.main-widget__title
              a(href='group.html') Лаборатории
            hr
            - var n = 0
            ul.ads-result.clearfix
              while n < 3
                li.ads-result__item.clearfix
                  .ads-result__row.clearfix
                    .col-md-2.col-sm-4.col-xs-12
                      a.ads-result__image(href='#0')
                        img(src='assets/img/labs-1.jpg' alt='')
                    .col-md-7.col-sm-8.col-xs-12
                      h2.h2.ads-result__title
                        a(href='#0') Дентленд
                      a.ads-result__link(href='#0')
                        i.fa.fa-fw.fa-location-arrow
                        | Нижний Новгород, ул. Культуры, д. 100а
                      p.ads-result__location
                        i.fa.fa-clock-o
                        strong Пн – Пт:&nbsp;
                        span 08:00 — 17:00 |&nbsp;
                        strong Cб:&nbsp;
                        span выходной |&nbsp;
                        strong Вс:&nbsp;
                        span выходной
                    .col-md-3.col-sm-12.col-xs-12
                      p.ads-result__price.pull-right
                        | 30 000
                        i.fa.fa-rub
                      p.ads-result__date.pull-right
                        i.fa.fa-clock-o
                        | 9 января 2017
                hr
                - n++
            hr
            .main-widget__more.text-right
              a.sidebar__link(href='labs.html')
                | Смотреть все лаборатории
                i.fa.fa-level-up
        section.section.section__masters
          .main-widget.vacancy.masters
            h2.h2.main-widget__title
              a(href='masters.html') Наши мастера
            hr
            - var n = 0
            ul.ads-result.clearfix
              while n < 4
                li.ads-result__item.clearfix
                  .ads-result__row.clearfix
                    .col-md-2.col-sm-4.col-xs-4
                      a.ads-result__image(href='#0')
                        img(src='assets/img/master-1.jpg' alt='')
                    .col-md-10.col-sm-8.col-xs-8
                      h2.h2.ads-result__title
                        a(href='#0') Зограбян Артавазд Гагикович
                      p.ads-result__link(href='#0') Калуга, Россия
                      p.ads-result__location Главный врач
                hr
                - n++
            hr
            .main-widget__more.text-right
              a.sidebar__link(href='masters.html')
                | Смотреть всех мастеров
                i.fa.fa-level-up
        section.section.section__main
          .main-widget
            h2.h2.main-widget__title
              a(href='gallery.html') Работа для стоматологов
            hr
            - var n = 0
            ul.thumbnails.clearfix.vacancy
              while n < 3
                li.vacancy__item
                  .vacancy__row.clearfix
                    h3.h3.vacancy__title.pull-left
                      a(href='#0') Администратор в стоматологию
                    span.vacancy__salary.pull-right
                      | от 25 000
                      i.fa.fa-rub
                      | до 55 000
                      i.fa.fa-rub
                  .vacancy__row.clearfix
                    p.vacancy__company Диамант
                  .vacancy__row.clearfix
                    span.vacancy__location.pull-left
                      i.fa.fa-globe
                      | Санкт-Петербург
                    span.vacancy__date.pull-right
                      i.fa.fa-clock-o
                      | 11 февраля 2017
                  hr
                - n++
            .main-widget__more.text-right
              a.sidebar__link(href='vacancy.html')
                | Смотреть все вакансии
                i.fa.fa-level-up
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/main__aside