extends ../base
block vars
  - var title = 'Правила и условия публикации объявлений'
block main
  +breadcrumbs([
      {
          name: 'Главная',
          url: 'index.html'
      },
      {
          name: 'Правила и условия публикации объявлений',
          url: null
      }])
  .container
    .row
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__rules
          .clearfix
            .col-md-12.col-sm-12.col-xs-12
              h2.h2.section__title Предложение для зуботехнических лабораторий
          .main-widget.vacancy.rules
            p
              | Предлагаем Вам размещение информации о Вашей зуботехнической лаборатории и её услуг в разделе
              a(href='#0') Лаборатории
              | на профессиональном стоматологическом портале "Клуб стоматологов".
            p
              strong Раздел «Лаборатории»
              | – это каталог зуботехнических лабораторий и их услуг, который помогает стоматологических клиникам выбрать ту лабораторию, с которой ей будет выгодно и эффективно сотрудничать.
            p
              strong Размещение в разделе Лаборатории – эффективное продвижение своей компании и её услуг!
            p Общий каталог, рассортированный по зуботехническим услугам, в том числе и с возможностью поиска по географии, позволяет стоматологическим клиникам и врачам-стоматологам сократить время на поиск нужной зуботехнической лаборатории и дает возможность лабораториям получить более широкий охват аудитории своих услуг и получить новых клиентов.
            p
              strong Свяжитесь с нами по адресу
                a(href='mailto:mail@mail.com') mail@mail.com
                | и мы расскажем подробнее как добавить свою лабораторию в раздел Лаборатории.
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/main__aside