extends ../base
block vars
  - var title = 'Зуботехнические лаборатории и услуги'
block main
  - var submenu = [{name : 'Все лаборатории', url : '#0'}, {name : 'Города и страны', url : '#0'}, {name : 'Для лабораторий', url : '#0'}]
  include ../__blocks/menu__main-sub
  +breadcrumbs([
      {
          name: 'Главная',
          url: 'index.html'
      },
      {
          name: 'Лаборатории',
          url: null
      }])
  .container
    .row
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__labs
          .clearfix
            .col-md-10.col-sm-6.col-xs-12
              h2.h2.section__title.pull-left Зуботехнические лаборатории и услуги
            .col-md-2.col-sm-6.col-xs-12
              a.btn.btn-primary.section__group__link.pull-right
                i.fa.fa-plus
                | Добавить
          .main-widget.main-widget__labs
            .row
              .col-md-12.col-sm-12.col-xs-12
                p.labs-title
                  a(href='#0') Лаборатории по городам
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='#0') Екатеринбург
                  li.labs__item
                    a.labs__link(href='#0') Волгоград
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='#0') Санкт-Петербург
                  li.labs__item
                    a.labs__link(href='#0') Москва
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='#0') Екатеринбург
                  li.labs__item
                    a.labs__link(href='#0') Волгоград
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='#0') Санкт-Петербург
                  li.labs__item
                    a.labs__link(href='#0') Москва
          .main-widget.main-widget__labs
            .clearfix
              - var n = 0
              ul.ads-result.clearfix
                while n < 10
                  li.ads-result__item.clearfix
                    .ads-result__row.clearfix
                      .col-md-2.col-sm-4.col-xs-12
                        a.ads-result__image(href='#0')
                          img(src='assets/img/labs-1.jpg' alt='')
                      .col-md-7.col-sm-8.col-xs-12
                        h2.h2.ads-result__title
                          a(href='#0') Дентленд
                        a.ads-result__link(href='#0')
                          i.fa.fa-fw.fa-location-arrow
                          | Нижний Новгород, ул. Культуры, д. 100а
                        p.ads-result__location
                          i.fa.fa-clock-o
                          strong Пн – Пт:&nbsp;
                          span 08:00 — 17:00 |&nbsp;
                          strong Cб:&nbsp;
                          span выходной |&nbsp;
                          strong Вс:&nbsp;
                          span выходной
                      .col-md-3.col-sm-12.col-xs-12
                        p.ads-result__price.pull-right
                          | 30 000
                          i.fa.fa-rub
                        p.ads-result__date.pull-right
                          i.fa.fa-clock-o
                          | 9 января 2017
                  hr
                  - n++
            ul.pagination
              li
                a.first(href='#0')
                  i.fa.fa-angle-left
              li
                a.active 1
              li
                a(href='#0') 2
              li
                a(href='#0') 3
              li
                a(href='#0') 4
              li
                a(href='#0') 5
              li
                a.last(href='#0')
                  i.fa.fa-angle-right
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/job__aside