extends ../base
block vars
  - var title = 'Зуботехнические лаборатории и услуги'
block main
  - var submenu = [{name : 'Все лаборатории', url : 'labs.html', parent : 'labs.html'}, {name : 'Города и страны', url : 'labs-city.html', parent : 'labs.html'}, {name : 'Для лабораторий', url : 'labs-for.html', parent : 'labs.html'}]
  include ../__blocks/menu__main-sub
  +breadcrumbs([
      {
          name: 'Главная',
          url: 'index.html'
      },
      {
          name: 'Город',
          url: null
      }])
  .container
    .row
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__labs
          .clearfix
            .col-md-10.col-sm-6.col-xs-12
              h2.h2.section__title.pull-left Зуботехнические лаборатории и услуги в Городе
            .col-md-2.col-sm-6.col-xs-12
              a.btn.btn-primary.section__group__link.pull-right
                i.fa.fa-plus
                | Добавить
          .main-widget.main-widget__labs
            .row
              .col-md-12.col-sm-12.col-xs-12
                p.labs-title
                  a(href='labs-city.html') Лаборатории по городам
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Екатеринбург
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Волгоград
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Санкт-Петербург
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Москва
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Екатеринбург
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Волгоград
              .col-md-3.col-sm-4.col-xs-6
                ul.labs__list
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Санкт-Петербург
                  li.labs__item
                    a.labs__link(href='labs-city-detail.html') Москва
          .main-widget.main-widget__labs
            .clearfix
              - var n = 0
              ul.ads-result.clearfix
                while n < 3
                  li.ads-result__item.clearfix
                    .ads-result__row.clearfix
                      .col-md-3.col-sm-5.col-xs-12
                        a.ads-result__image(href='#0')
                          img(src='assets/img/labs-1.jpg' alt='')
                      .col-md-9.col-sm-8.col-xs-12
                        h2.h2.ads-result__title
                          a(href='#0') Лаборатория города
                        a.ads-result__link(href='#0')
                          i.fa.fa-fw.fa-location-arrow
                          | Какой-то город, ул. Города, д. 13
                        p.ads-result__location
                          i.fa.fa-clock-o
                          strong Пн – Пт:&nbsp;
                          span 08:00 — 17:00 |&nbsp;
                          strong Cб:&nbsp;
                          span выходной |&nbsp;
                          strong Вс:&nbsp;
                          span выходной
                  hr
                  - n++
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/main__aside