extends ../base
block vars
  - var title = 'Профессиональный стоматологический портал (сайт) «Клуб стоматологов»'
block main
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        +breadcrumbs([
            {
                name  : 'Главная',
                url   : 'index.html'
            },
            {
                name: 'Восстановление пароля',
                url: null
            }])
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__login
          h2.h2.section__title Восстановление пароля
          .main-widget
            form.form.form__recovery
              .row
                .form__group.clearfix
                  .col-md-12
                    label.label.label.form__login__label(for='email') E-mail:
                    input#email.input(type='email' name='email')
                .col-md-10.col-md-offset-2.col-sm-8.col-sm-offset-4.col-xs-12
                  button.btn.btn-primary(type='submit') Восстановить пароль
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/main__aside