extends ../base
block vars
  - var title = 'Резюме стоматологов'
block main
  - var submenu = [{name : 'Вакансии', url : 'vacancy.html', parent : 'job.html'}, {name : 'Резюме', url : 'resume.html', parent : 'job.html'}]
  include ../__blocks/menu__main-sub
  +breadcrumbs([
      {
          name: 'Главная',
          url: 'index.html'
      },
      {
          name: 'Резюме стоматологов',
          url: null
      }])
  .container
    .row
      .col-md-9.col-sm-8.col-xs-12
        section.section.section__job
          .main-widget.vacancy.ads
            .clearfix
              h2.h2.main-widget__title.pull-left
                span Резюме стоматологов
              a.btn.btn-primary.section__job__link.pull-right(href='#0')
                i.fa.fa-plus
                | Добавить резюме
            hr
            .ads__search.clearfix
              .col-md-4.col-sm-12.col-xs-12
                label.label(for='category') Рубрика
                select#category.input.select(name='category')
                  - var n = 1
                  option(selected) Не важно
                  while n < 8
                    - var option = 'Рубрика-' + n++
                    option= option
              .col-md-4.col-sm-12.col-xs-12
                label.label(for='city') Город
                select#city.input.select(name='city')
                  - var n = 1
                  option(selected) Выберите город
                  while n < 20
                    - var option = 'Город-' + n++
                    option= option
              .col-md-12.col-sm-12.col-xs-12.pull-right
                a.btn.btn-primary.section__job__link.pull-right(href='#0')
                  i.fa.fa-search
                  | Найти резюме
        section.section.section__job
          .main-widget.vacancy.ads-container
            .clearfix
              - var n = 0
              ul.vacancy.clearfix
                while n < 5
                  li.vacancy__item
                    .vacancy__row.clearfix
                      h3.h3.vacancy__title.pull-left
                        a(href='#0') Врач-имплантолог
                      span.vacancy__salary.pull-right
                        | от 50 000
                        i.fa.fa-rub
                    .vacancy__row.clearfix
                      p.vacancy__company Ваганян Сергей Вагифович
                    .vacancy__row.clearfix
                      span.vacancy__location.pull-left
                        i.fa.fa-globe
                        | Москва
                  hr
                  - n++
            ul.pagination
              li
                a.first(href='#0')
                  i.fa.fa-angle-left
              li
                a.active 1
              li
                a(href='#0') 2
              li
                a(href='#0') 3
              li
                a(href='#0') 4
              li
                a(href='#0') 5
              li
                a.last(href='#0')
                  i.fa.fa-angle-right
      .col-md-3.col-sm-4.col-xs-12
        include ../__blocks/rubric__aside